@font-face {
  font-family: "Booter - Zero Zero";
  src: url("/static/Fonts/Booter - Zero Zero.woff") format("woff"),
      url("/static/Fonts/Booter - Zero Zero.woff2") format("woff2") ;
      font-weight: normal;
      font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&display=swap");
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  :root {
    --handle-size: 3rem;
    --img-gap: .25rem;
  }
  
  body {
    margin: 0;
  }
  


  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
  }
  
  .slider > div {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 1rem;
  }
  
  .handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
  }
  
  .left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .handle:hover,
  .handle:focus {
    background-color: rgba(255, 255, 255, .5);
  }
  
  .text {
    transition: transform 150ms ease-in-out;
  }
  
  .handle:hover .text,
  .handle:focus .text {
    transform: scale(1.2);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
  }
  

  .progress-bar {
    display: flex;
    gap: .25rem;
  }
  
  .progress-item {
    flex: 0 0 1.5rem;
    min-width: 1.5rem;
    height: .5rem;
    background-color: rgba(255, 255, 255, .5);
  }
  
  .progress-item.active {
    background-color: rgba(255, 255, 255, .9);
  }
  
  @media (max-width: 1000px) {
    .slider {
      --items-per-screen: 3;
    }
  }
  
  @media (max-width: 500px) {
    .slider {
      --items-per-screen: 2;
    }
  }
  
  body {
    background-color: #333;
    color: white;
  }
  .morebutton{
    display: block;
    flex: 1em 0 2em;
    padding: 1em;
    text-align: end;
    block-size: 5em;
  }
  .more {
    margin: 1em;
    padding: 0.5em;
    block-size: 5em;
    font-family: "Libre Bodoni", serif;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10%;
    font-size:larger;
    font-weight: bolder;
    background: rgb(14, 230, 32);
  }

  .more:hover{
    background: rgba(15, 255, 223, 0.959);
    font-weight: normal;
  }

  .nav ul{
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;

}

.nav a:hover{
    background-color: rgba(196, 248, 201, 0.3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(196, 248, 201, 0.3);
}

.main-nav li{
    padding: 0 5%;

}
.main-header{
    background-color: rgb(0, 0, 0, .6);
    background-image: url(/static/Images/denise-chan-pXmbsF70ulM-unsplash.jpg);
    background-blend-mode: multiply;
    background-size: cover;
}
.Titlename{

  margin: 0;
  font-size: 4em;
  font-family: "Booter - Zero Zero";
  font-weight: normal;
  color: white;

}

.Titlename-large{
  font-size: 8em;
  text-align: center;
}
.main-footer{
  background-color: rgb(0, 0, 0, .6);
  background-image: url(/static/Images/denise-chan-pXmbsF70ulM-unsplash.jpg);
  background-blend-mode: multiply;
  color: white;
  margin: 0;
  padding: .25em 0;
}
.main-footer-container{
  display: flex;
  align-items: center;
}

.main-footer-container ul{
  flex-grow: 1;
  text-align: end;
}

.footer-nav li{
  padding: 0 .5em;

}
.footer-nav img{
  width: 30px;
  height: 30px;
}
.titlename-footer{
  text-align: left;
  margin: 0 1.5em;
}
.logolink {
  text-decoration: none;
}
.search-box{
  background-color: #d1d1d111;
  padding:3px 20px;
  margin-left: 85%;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  margin-right: 20px;
}
.search-box input{
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.search-box input::placeholder{
  color: #ffffff53;
}
.search-box button{
  background-color: transparent;
  color: #ffffffc9;
  border: none;
  outline: none;
  cursor: pointer;
}

/*movie slider settings*/
.placeholder{
  background-color: #d1d1d111;
  padding:3px;
  border-radius: 20px;
  height: 220px;
  width: 240px;
  justify-content: left;
  margin: 0 3px;
  align-items: center;
  
}
/* 
.rating{
  height: 10px;
  width: 20px;
  font-weight: bold;
  color: gold;
  white-space: nowrap;
}

.rating-img{
  height: 10px;
  width: auto;
} */

.bottom-text{
  position: absolute;
  bottom: 20px;
}
/* 
.slider-img{
  object-fit: fill;
  object-position: center;
  height: 110%;
  width: 100%;
  border-radius: 20px;
  margin: 0;
}

.main-slider-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 100%;
  background-color: rgba(27,27,27,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: all ease 0.3s;
  z-index: 2;
}

.main-slider-overlay i{
  font-size: 2rem;
}  */


/*from movielibrary.css*/

.main-slider-img{
  width: 100%;
  height: 100%;
}
.main-slider-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-slider-text{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #161616b9 35%, rgba(73,73,73,0.23) 64%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

.main-slider-text .quality,
.more-about-movie .quality{
  
  color: #080808;
  font-weight: 600;
  padding: 0px 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.main-slider-text .movie-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-slider-text .movie-name span{
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: 400;
      color: rgba(240, 240, 240, 0.9);
}
.main-slider-text .movie-name strong{
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  color: #dfdfdf;
  letter-spacing: 0.5px;
}


.rating img{
  height: 10px;
  width: 20px;
  object-fit: contain;
  object-position: center;
}

.rating{
  font-size: 0.8rem;
  color: gold;
  letter-spacing: 1px;
}

.main-slider-text .category-rating{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.main-slider-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 100%;
  background-color: rgba(27,27,27,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: all ease 0.3s;
  z-index: 2;
}

.main-slider-overlay i{
  font-size: 2rem;
}

.main-slider-box:hover .main-slider-overlay{
  top: 0px;
  transition: all ease 0.3s;
}

/* copied file*/
.swiper-button-next,
.swiper-button-prev{
  position: static !important;
  transform: translate(0,0);
  margin: 10px 0px 0px 20px !important;
}
.slider-btns{
  display: flex;
  justify-content: flex-end;
  max-width: 1170px;
  width: 100%;
  margin: 10px auto 0px auto;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 25px !important;
  font-weight: 800;
  color: #ffffff;
}