{% extends 'base.html' %}
{% block head %}
<!--==Title==================================-->

<!-- <title>Movie Name - MHD</title> --> 

<!--Stylesheet(CSS)==========================-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/movieLibrary.css') }}"/>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/> -->
<!--==Fav-icon===============================-->
<link rel="shortcut icon" href="{{ url_for('static', filename='Images/The inner reviewers logo wo text 2.png') }}"/>
<!--==Import-poppins-font====================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!--==Import-Monoton-Font====================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<!--==Using-Font-Awesome======================-->
<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <!--==Movie-Banner=========================================-->
    <section class="movie-banner">
        <!--==img==================================-->
        <div class="m-banner-img">
            {% block backgroundimage %}
            <!-- <img alt="" src="#"> -->
            {% endblock %}
        </div>
        <!--content================================-->
        <div class="banner-container">
            <!--title-container*******************----->
            <div class="title-container">
                <!--title-top===============-->
                <div class="title-top">
                <!--title----->
                <div class="movie-title">
                    {% block movieTitle %}
                    <!-- <h1>Movie Name</h1> -->
                    {% endblock %}
                </div>
                <!--more-about-movie-->
                <div class="more-about-movie">
                    {% block quality %}
                    <!-- <span class="quality">Full HD</span> -->
                    {% endblock %}
                    <div class="rating">
                        {% block rating %}
                        <!-- Rating <img alt="imbd" src="images/IMDb-icon.png"> -->
                        {% endblock %}
                    </div>
                    {% block publishdate %}
                    <!-- <span>Publish Date</span> -->
                    {% endblock %}
                    {% block movieTime %}
                    <!-- <span>Movie Time</span> -->
                    {% endblock %}
                </div>
                <!--language--------->
                <div class="language">
                    {% block movieLanguage %}
                    <!-- <span>Trailer Language</span>
                    <span>...</span> -->
                    {% endblock %}
                </div>
                </div>
                <!--Title-botttom==========================-->
                <div class="title-bottom">
                    <!--category------->
                    <div class="category">
                        <strong>Category</strong><br/>
                        {% block category %}
                        <!-- <a href="#">category1</a>,<a href="#">category2</a>,<a href="#">category3</a> -->
                        {% endblock %}
                    </div>
                    <!--trailer-btn---->
                 <!----  <a href="#" class="watch-btn">Watch Trailer</a>-->
                </div>
            </div>
            <!--play-btn******************************--->
            <div class="play-btn-container">
                <div class="play-btn">
                    <a href="javascript:void">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
            <!--Video/full-Movie***************************-->
            <div id="play" class="play">
                <!--close-btn--->
                <a href="javascript:void" class="close-movie">
                    <i class="fas fa-times"></i>
                </a>
                <!--movie------->
                <div class="play-movie">
                   <a href="#" class="watch-btn"></a>
                </div>
            </div>
        </div>
    </section>
    <!--Banner-end------------->
    <!--details=====================================-->
    <section class="movie-details">
        {% block movieDesc %}
        <!-- <strong>Movie Title</strong>
        <p>Here will be the description</p> -->
        {% endblock %}
    </section>
    <!--==ScreenShots===============================-->
    <section class="screenshots">
        <strong>ScreenShots</strong>
        <!--screenshots-container----------->
        <div class="screen-s-container">
            {% block screenImg %}
            <!-- <img alt="" src="#"> -->
            {% endblock %}
        </div>
    </section>

    <!--==jQuery=======================================-->
    <script src="{{ url_for('static', filename='JS/jQuery.js') }}"></script>
    <script>
        /*==scroll-progress-bar======================*/
        let scrollPrecentage = () =>{
            let scrollProgress = document.getElementById("progress");
            let progressValue = document.getElementById("progress-value");
            let pos = document.documentElement.scrollTop;
            let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round(pos * 100 / calcHeight);
            scrollProgress.style.background = `conic-gradient(#e70634 ${scrollValue}%, #2b2f38 ${scrollValue}%)`;
        }
        window.onscroll = scrollPrecentage;
        window.onload = scrollPrecentage;
        /*--menu-btn-fixed-when-scroll============*/
        $(window).scroll(function(){
            if($(document).scrollTop() > 20){
                $('.navigation').addClass('fix-icon');
            }
            else{
                $('.navigation').removeClass('fix-icon');
            }
        });
        /*==popup-open==================================*/
        $(document).on('click','.play-btn a',function(){
            $('.play').addClass('active-popup');
        });
        /*==popup-Close==================================*/
        $(document).on('click','.close-movie',function(){
            $('.play').removeClass('active-popup');
        });
        /*==auto-play-when-popup-open===================*/
        $('.play-btn a').click(function(){
            $('#m-video')[0].play();
        });
        /*==Close-video-when-poppup-close==============*/
        $('.close-movie').click(function(){
            $('#m-video')[0].pause();
        });
      </script>
{% endblock %}
  