{% extends 'EachMovie.html' %}
{% block head %}
 <title>example</title>

<h1 class="Titlename Titlename-large">Example Movie</h1>
{% endblock %}

{% block backgroundimage %}
<img alt="" src="{{ url_for('static', filename='Images/denise-chan-pXmbsF70ulM-unsplash.jpg') }}"> 
{% endblock %}

{% block movieTitle %}
<h1>Movie Name</h1>
{% endblock %}

{% block quality %}
<span class="quality">Full HD</span>
{% endblock %}

    {% block rating %}
    Rating <img alt="imbd" src="{{ url_for('static', filename='Images/IMDb-icon.png') }}">
    {% endblock %}

{% block publishdate %}
<span>Publish Date</span>
{% endblock %}
{% block movieTime %}
<span>Movie Time</span>
{% endblock %}
{% block movieLanguage %}
<span>Trailer Language</span>
<span>...</span>
{% endblock %}


{% block category %}
<a href="#">category1</a>,<a href="#">category2</a>,<a href="#">category3</a>
{% endblock %}
{% block movieDesc %}
<strong>Movie Title</strong>
<p>Here will be the description</p>
{% endblock %}


    {% block screenImg %}
    <img alt="" src="#">
    {% endblock %}