{% extends 'base.html' %}
{% block head %}
<title>The Inner reviewers</title>
{% endblock %}

{% block titlePage %}

<h1 class="Titlename Titlename-large">The Inner reviewers</h1>

{% endblock %}
{% block body %}

        <section class="content-section container">
            <h2 class="section-header">What is this?</h2>
                <img class="about-band-image" src="static/Images/The inner reviewers logo wo text 2-2.png"/>
                <p class="p-main">Hi to everyone who is entering this website. <br>
                This website is a personal project of mine. And is currently in progress! <br>
                In this project I will list all movie, books, series, games etc. titles on display. The user while loged in, will be able 
                to mark as watched or interested. Furthermore, he will be able, if he watched it, to hand a review about it. 
                He then will be able to access the list of watched, interested, played, read etc. via a easy set lists.
                The reason for this is, that from my own experience, that after watching, reading etc. its common to forget about it very easy. 
                Since, sometimes we might not come back to it, it is kind of leaving our brain and next time we step into it, we crash our brains,
                if we watched it or not. That why I am here! I don't know if someone has done this already, but for me it is a start idea for a new
                project, something to start learning scripts. Yes, I am speaking about html, css and maybe javascript, phyton, sql etc. 

                </p>
        </section>
        <section class="section-video container">
            <div class="video-box">
                <h2 class="section-header">Give a look</h2>
                <video class="video" width="600"  controls autoplay muted>
                    <source src="static/Videos/theinnerreviewers_Trailer1.mp4" type="video/mp4">
                </video>
            </div>
        </section>
        <section class="section-all-about container">
            <h2 class="section-header">Mark everything out what you have seen or you want to experience in the future</h2>
            <span class="items">
                <div class="item item-1">
                    <h6 class="title-item">Movies</h6>  
                   <a class="title-img-link" href="{{ url_for('movies') }}"><img class="title-img" src="static/Images/samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg"/> </a>                
                </div>
                <div class="item item-2">
                    <h6 class="title-item">Series</h6>   
                    <a class="title-img-link" href="{{ url_for('series') }}"><img class="title-img" src="static/Images/tech-daily-cF6Le-0viHY-unsplash.jpg" /> </a>    
                </div>
                <div class="item item-3">
                    <h6 class="title-item">Books</h6> 
                    <a class="title-img-link" href="{{ url_for('books') }}"><img class="title-img" src="static/Images/gulfer-ergin-LUGuCtvlk1Q-unsplash.jpg" /> </a>      
                </div>
            </span>
        </section>

{% endblock %}